html, body {
	margin: 0px;
	padding: 0px;
}

label,
select,
button,
input[type="checkbox"] {
  display: block;
}

label {
  margin-bottom: 20px;
}

select,
input[type="checkbox"] {
  margin-top: 10px;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
}

.page {
	display: none;
}

.start-btn {
  padding: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}
