html, body {
	margin: 0px;
	padding: 0px;
}

.small * {
  font-size: 1rem;
}

.medium * {
  font-size: 2rem;
}

.large * {
  font-size: 3rem;
}

label,
select,
button {
  display: block;
}

input[type="checkbox"] {
	margin-left: 20px;
  transform: scale(2.5);
}

label {
  margin-bottom: 20px;
}

select,
input[type="checkbox"] {
  margin-top: 10px;
}

select,
option {
  display: block;
  width: 100%;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
}

.page {
	display: none;
}

.start-btn {
  padding: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}
